<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triangle.atm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cashoutHistory"
            android:label="Cash out History"/>
        <activity android:name=".cashinHistory"
            android:label="Cash in History"/>
        <activity android:name=".cashin"
            android:label="Cash in"/>
        <activity android:name=".registration_validation" />
        <activity android:name=".create_account"
            android:label="Create Account"/>
        <activity android:name=".change_pin"
            android:label="Change PIN number"/>
        <activity android:name=".transaction"
            android:label="Transaction"/>
        <activity android:name=".account_details"
            android:label="Account Details"/>
        <activity android:name=".cashout"
            android:label="Cash out"/>
        <activity
            android:name=".appmenu"
            android:label="Home" />
        <activity
            android:name=".login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:label="Log in"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>